<div class="container">
    <div class="map">
        <a href="/{{id}}"><img class="img" src="../public/images/map.jpg" alt="Map"> </a>

    </div>
</div>

<div class="sidenav">
    <h2>{{restaurant}}</h2>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{rating}}</p>
</div>

{{!--<div class="burgers">
    <img class="img" src="{{image}}" alt= "{{name}}">
    <h2>{{restaurant}}</h2>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{rating}}</p> --}}

</div>