<form action="/" method="POST">
    <input type="submit" name="ID" value="1"></input>
    <input type="submit" name="ID" value="2"></input>
    <input type="submit" name="ID" value="3"></input>
    <input type="submit" name="ID" value="4"></input>
    <input type="submit" name="ID" value="5"></input>
    <input type="submit" name="ID" value="6"></input>
</form>


<h3>ID: {{id}}</h3>
<h3>restaurant: {{restaurant}}</h3>
<h3>name: {{name}}</h3>
<h3>image: {{image}}</h3>
<h3>description: {{description}}</h3>
<h3>price: {{price}}</h3>
<h3>rating: {{rating}}</h3>
